@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

.wrapper {
    display: block;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.button {
    display: none;
}
