.Card {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
    align-items: center;
    background-color: black;
    color: white;
    width: 90%;
    height: 350px;
    text-align: center;
    .Card_Title {
        height: 100px;
    }

    .Card_Image {
        vertical-align: bottom;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid black;
        margin-bottom: 0.5em;
    }
}
