@import "../../assets/devices";
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 100px;

    &_title {
        text-align: center;
        font-size: 150%;
    }
    &_cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 85%;
        height: 90%;
        margin: 0 auto;
        gap: 0.5em;
        @include sm {
            grid-template-columns: 1fr;
        }
        @include md {
            grid-template-columns: 1fr 1fr;
        }
    }
}
