.Card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    box-shadow: 0 2px 5px 0 #00000040;
    background-color: black;
    color: white;
    text-align: center;
    height: 300px;

    .Card_Image {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid white;
        margin-bottom: 30px;
    }
    .Card_Btns {
        display: flex;
        flex-direction: row;
        width: 200px;
        justify-content: space-evenly;
    }
}
